<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add a New App</title>
</head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Add New Item</h1>
    <form action="/users/<%=user._id%>/foods" method="POST">
      <label for="name">Name</label>
      <input type="text" name="name" id="name">
      <label for="quantity">Quantity</label>
      <input type="number" name="quantity" id="quantity">
      <button type="submit">Add Item</button>
    </form>
  </body>
</html>